<!--<link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Kanit|Permanent+Marker|Mali" rel="stylesheet">-->
 <!-- Slideshow container -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="">
      <img src="/assets/banner1.png" >
    </div>
    <div class="carousel-item">
      <img src="/assets/banner2.png"  >
    </div>
    <div class="carousel-item">
      <img src="/assets/banner3.png" alt="New ">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
<hr>
</div>
<!--*********************************************************************************-->

<% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
<div class="container-fluid" style="margin-top:0">
    <div class="row" >
        <div class="col-3"></div>
        <div class="col-6" >
            <br>
            <% if logged_in? ===false %>
        
                <div>
                    <%= form_for(:session, url: login_path) do |f| %>

                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>

                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control' %>
                        <br>
                        <%= f.submit "Log in", class: "btn btn-primary" %>

                    <% end %>
                    <p>New user? <%= link_to "Register now!", register_path %></p>
                </div>
            
            <% else %>
                <div class="jumbotron jumbotron-fluid" style="  margin-bottom: 0px;padding-bottom:5px;padding-top:5px;color:#FF4500; background-color:#FFFFFF;">
                  <div class="container">
                      <div style="
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;"></div>
                    <div class="py-5 text-center" style="font-family: 'Mali', cursive; font-size: 20px;"><h2>ยินดีต้อนรับ</h2> <%= current_user.name %> เข้าสู่เว็ปไซต์ของเรา ทุกสูตรเมนูอาหารเป็นไปได้ เพียงปลายนิ้ว</div>              
                    <hr >
                    </div>
                </div>
        
            
            <br>
        </div>
        
        <div class="col-3"></div>
    </div>
</div>
    <!--*****************************Secend****************************-->
     <div class="containner-fluid"style="padding-top:45px; padding-bottom:45px; background-color: #FF4500; font-family: 
                                 'Mali', cursive; font-size: 20px;
                                 color:#FFFFFF;">
         <div class="row"  >
            <div class="col-2"></div>
            <div class="col-8 text-center " >
              สร้างสูตรอาหารของคุณบนโลกออนไลน์ไปกับเรา
                        <div>"เรามีส่วนผสมให้คุณเลือกหลากหลาย สร้างสรรค์เป็นเมนูอาหารในแบบของคุณ"</div>
            </div>


            <div class="col-2"></div>
        </div>
    </div>
    <!--******************************WHITE************************-->
    <!-- <div class="containner-fluid"style="padding-top:45px; padding-bottom:45px; font-family: -->
    <!--                             'Mali', cursive; font-size: 20px;-->
    <!--                             color:#FFFFFF;">-->
    <!--     <div class="row"  >-->
    <!--        <div class="col-2"></div>-->
    <!--        <div class="col-8 text-center " >-->
    <!--        </div>-->


    <!--        <div class="col-2"></div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--******************************THIRD************************-->
<div class="containner-fluid"style=" margin-top:55px;margin-bottom:55px;background-color: #ECECEC; font-family: 
                                 'Mali', cursive; font-size: 20px;
                                 color:#FFFFFF;">
         <div class="row"  >
            <div class="col-5" style="padding:0">
                      <img src="/assets/third.jpg", height="400" > 
            </div>
            <div class="col-7 text-center " style="color:black" >
                <br>
                <br>
                <br>
                <h3><b>ถ้าคุณกำลังประสบปัญหาเหล่านี้ </b></h3>
                <hr>
                <i>"วัตถุดิบหาแคลลอรี่ยากจัง"</i><br>
                <i>"มีเว็ปที่รวบรวมวัตถุดิบแปลกๆบ้างไหมนะ"</i><br>
                <i>"อยากได้เว็ปภาษาไทยที่่ใช้งานได้ง่ายและฟรีจังเลย"</i>
                <hr>
                <h4><b>เราขอแนะนำเว็ปไซต์ CalCal ของเรา เป็นผู้ช่วยที่ดีที่สุดของคุณ  </b></h4>
            </div>


        
        </div>
        <% end %>
    </div>
