<link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Kanit|Permanent+Marker|Mali" rel="stylesheet">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
 
<%= form_tag(search_path, :method => "get") do %>
    <div class="container-fluid" style="background-color:#b8e0e3;">
      <div class="row">
          <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
              </ul>
            
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active" style="">
                  <img src="/assets/food5.png"  width=100% height=100%>
                </div>
                <div class="carousel-item">
                  <img src="/assets/food6.png"  width=100% height=100%>
                </div>
                <div class="carousel-item">
                  <img src="/assets/food7.png"  width=100% height=100%>
                </div>
                <div class="carousel-item">
                  <img src="/assets/food8.png" alt="New " width=100% height=100%>
                </div>
              </div>
            
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
        
        </div>
      </div>
      <div class="row" style="padding-bottom:40px;padding-top:40px;">
        <div class="col-md-6 offset-md-3"style="padding:2rem ; ">
          <h4 class="text-center" style="color:		#8000ff;font-family: 'Prompt', sans-serif;">ทุกสิ่งที่คุณต้องการอยุ่ที่นี่แล้ว  มาเริ่มค้นหากันเลย!!</h4>
            <span><%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %></span>
            <br>
           <span ><%= submit_tag "Go", name: nil  , class: 'btn btn-primary btn-sm'%></span>
        </div>
      </div>
      <!--//RESULT SEARCH-->
    </div>
<% end %>

<script>
 $( function() {
    
    var availableTags = [
        <% @ingredients.each do |ingredient| %>
            "<%= ingredient.ingredient_name  %>",
        <% end %>
    ];
    
    $( '#search' ).autocomplete({
      source: availableTags
    });
    
 } );
</script>

<div class="container-fluid" style="background-color:#b8e0e3;">
<% if @isSearch %>
<table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ingredient Name</th>
                  <th scope="col">Weight(Grams)</th>
                  <th scope="col">Calorie</th>
                </tr>
              </thead>
               <tbody>
              <% @count = 0; %>
    <% @results.each do |ingredient| %>
        <% @count=@count+1; %>
        <tr>
        <th scope="row"><%=@count%></th>
        <td><%= ingredient.ingredient_name  %></td>
        <td><%= ingredient.weight  %></td>
        <td><%= ingredient.calorie  %><span>
        <br><%= button_to 'Add to MyCal', search_path ,class: 'btn btn-success btn-sm', params: {search: params[:search], inid: ingredient.id, owid: session[:user_id]} , method: :get %></span></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
</div>
