<!--<h1>Users#new</h1>-->
<!--<p>Find me in app/views/users/new.html.erb</p>-->
<div class="container-fluid">
    <div class="row" style=" background-color:#ccccff; ">
        <div class="col-8 offset-2" >
            <br>
            <div class="col-12" id ="h1st"><h3>Register Member</h3></div>
              <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
              
                <%=f.label :name %>
                <%=f.text_field :name, class: 'form-control' %>
                
                <%=f.label :email %>
                <%=f.email_field :email, class: 'form-control' %>
                
                <%=f.label :password %>
                <%=f.password_field :password, class: 'form-control' %>
                
                <%=f.label :password_confirmation %>
                <%=f.password_field :password_confirmation, class: 'form-control' %>
                <br>
                <%=f.submit "Submit", class: "btn btn-primary col-6 offset-3" %>
              <% end %>
            <br>
        </div>
    </div>
</div>