<% provide(:title, @user.name) %>
<div class="row">
  <script type="text/javascript">
function delayedRedirect(){
    window.location = "/login"
}
</script>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <body onLoad="setTimeout('delayedRedirect()', 3000)">
    </section>
  </aside>
</div>