<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>



  
        <div class="col-12"style="padding-left:20%;padding-right:20%; background-color:#ffffff; ">
            <br>
              <div class="field"style="padding-left:20%;padding-right:20%;">
                <%= form.label :ingredient_name %>
                <%= form.text_area :ingredient_name , :required => true %>
              </div>
               <div class="field"style="padding-left:20%;padding-right:20%;">
                <%= form.label :weight %>
                <%= form.number_field :weight , :required => true , :min => 0 %>
              </div> 
               <div class="field"style="padding-left:20%;padding-right:20%;">
                <%= form.label :calorie %>
                <%= form.number_field :calorie, :required => true, :min => 0 %>
              </div>
              <div class="actions" style="padding-left:20%;padding-right:20%;">
                <%= form.submit %>
              </div>
              <% end %>
            <br>
        </div>
    




