<p id="notice"><%= notice %></p>

<div style="padding-left:1.5em;padding-right:1.5em">


<h1 class="text-center" style="font-family: 'Prompt', sans-serif;" >All Ingredients</h1>


<%= link_to '<button type="button" class="btn btn-primary btn-md align-items-right ">New Ingredient</button>'.html_safe, new_ingredient_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ingredient Name</th>
      <th scope="col">Weight(Grams)</th>
      <th scope="col">Calorie</th>
    </tr>
  </thead>
  <tbody>
    <!--<tr>-->
    <!--  <th scope="row">1</th>-->
    <!--  <td>Mark</td>-->
    <!--  <td>Otto</td>-->
    <!--  <td>@mdo</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <th scope="row">2</th>-->
    <!--  <td>Jacob</td>-->
    <!--  <td>Thornton</td>-->
    <!--  <td>@fat</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--  <th scope="row">3</th>-->
    <!--  <td>Larry</td>-->
    <!--  <td>the Bird</td>-->
    <!--  <td>@twitter</td>-->
    <!--</tr>-->
    <% @count = 0; %>
     <% @ingredients.each do |ingredient| %>
       <% @count=@count+1; %>
      <tr>
        <th scope="row"><%=@count%></th>
        <td><%= ingredient.ingredient_name %></td>
        <td><%= ingredient.weight %></td>
        <td><%= ingredient.calorie %>
        <%= link_to 'Show', ingredient %>
        <%= link_to 'Edit', edit_ingredient_path(ingredient) %>
        <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--OLD*****************************-->

<!--END OLD **********************************-->