<h1 class="text-center" style="font-family: 'Prompt', sans-serif;">New Ingredient</h1>
<%= render 'form', ingredient: @ingredient %>

<%= link_to '<button type="button" class="btn btn-primary btn-md">Back to All Ingredient</button>'.html_safe, ingredients_path %>
