<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient name:</strong>
  <%= @ingredient.ingredient_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ingredient.weight %>
</p>

<p>
  <strong>Calorie:</strong>
  <%= @ingredient.calorie %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |

<%= link_to 'Back', ingredients_path %>
