<style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Kanit|Permanent+Marker');
    #about-container{
        font-family: 'Kanit', cursive;
        /*background-color:#ffffcc;*/
        /*background-color:#ffcc66 color about us*/
      background-color:#ffeee6;
       background-image:url("/assets/food.jpg") , opacity:0.1;
    
    
    }
    .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
        } 
   .hover-zoom {
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
     transition:all 0.3s
        }
    .hover-zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
     transform: scale(1.3)
 }
</style>


<div class="containner-fluid" >
        <h3 class="text-center align-content-center" style="background-color:#ff751a; 
                                font-family: 'Permanent Marker', cursive;
                                padding: 0.5em;
                                color:white;
                                margin:0px;">
            About us</h3>
</div>
<div class="containner-fluid text-center" id="about-container">
    
    <h4 style="color:#0033cc;padding-top:1em;padding-bottom:1em">เว็ปคำนวณแคลลอรี่ของวัตถุดิบสำหรับทำอาหาร</h4>
    <hr>
    <h2 style="color:#1aa3ff;">Member</h2>
    
    <div class="card-group " style="padding:1em">
        <div class="card "style="width: 10rem;">
            <img class="card-img-top" src= "/assets/conan.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">No.1</h5>
                <p class="card-text">นายอภิวิชญ์ จามีกรกุล  5810613454</p>
            </div>
        </div>
        <div class="card  " style="width: 10rem;">
            <img class="card-img-top" src= "/assets/doremon.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">No.2</h5>
                <p class="card-text">นายธนภณ เกิดศิลป์ 5710613448</p>
            </div>
        </div>
        <div class="card " style="width: 10rem;">
            <img class="card-img-top" src= "/assets/onepiece.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">No.3</h5>
                <p class="card-text">นายปิยภพ เสือปาน 5910520062</p>
            </div>
        </div>
        <div class="card " style="width: 10rem;">
            <img class="card-img-top" src= "/assets/shizuka.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">No.4</h5>
                <p class="card-text">นางสาวชณิตา ลีลาศุภกร 5910613271</p>
            </div>
        </div>
    </div>
    

    <div style = "font-family: 'Comfortaa', cursive; padding-buttom:20px;">
        <ul>
            <hr>
            <br>
        <a href ="https://drive.google.com/open?id=1jGFjApcXfG7ixP4KCLGaUF9_0b74fv7V">
            <img  class="hover-zoom"  src="/assets/pdf.png" width="80px" height="80px"/></a>
             <hr>
        <a href ="https://bitbucket.org/5710613448/project-soften/src/master/">
            <img  class="hover-zoom"  src="/assets/bitbucket.png" width="80px" height="80px"/></a>
            <hr>
        <a href ="https://www.pivotaltracker.com/n/projects/2223051">
            <img  class="hover-zoom"  src="/assets/pivotal.png" width="80px" height="80px"/></a>    
            <hr>
            <h4 style="color:#1aa3ff;">Interation 0</h4>
        <a href ="https://youtube.com/embed/junuuKJZcm4">
            <img  class="hover-zoom"  src="/assets/youtube.png" width="190px" height="80px"/></a>
            <hr>
            <h4 style="color:#1aa3ff;">Interation 3 (LASTEST)</h4>
        <a href ="https://www.youtube.com/watch?v=1aZky-JssPo&t=">
            <img  class="hover-zoom"  src="/assets/youtube.png" width="190px" height="80px"/></a>
           
            <hr>
            <h4 style="color:#1aa3ff;">POSTER</h4>
        <a><img  src="/assets/poster.jpg" /></a>

    
        <!--<li> <a href ="https://drive.google.com/open?id=1jGFjApcXfG7ixP4KCLGaUF9_0b74fv7V">File PDF</a> </li>-->
        <!--<li> <a href ="https://www.pivotaltracker.com/n/projects/2223051">Link to Pivotal Tracker</a> </li>-->
        <!--<li> <a href ="https://bitbucket.org/5710613448/project-soften/src/master/">Link to Bitbucket Repo</a> </li>-->
        </ul>
        <br>
        <br>
    </div>
    
    <!--<iframe width="420" height="315"-->
    <!--src="https://youtube.com/embed/junuuKJZcm4">-->
    <!--</iframe> -->
    <!--<div style = "font-family: 'Comfortaa', cursive;">-->
    <!--</div>-->

</div>



<!--<div class="container-fluid" id="about-container">-->
    
<!--<div class="row align-items-end" style="background-color:#ffcc66;">-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col-2"> -->
<!--    <h1 class="col-12"style = "font-family: 'Permanent Marker', cursive;" >About Us</h1>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row align-items-end" style="background-color:#ffffcc;"></div>-->

<!--<div class="row align-items-end">-->
<!--    <div class="col-2"></div>-->
<!--    <div class="col-10">-->
<!--<div id="about-container">-->
<!--<h2>กลุ่ม เว็ปคำนวณแคลลอรี่ของวัตถุดิบสำหรับทำอาหาร</h2>-->
<!--<ol>-->
<!--<li>อภิวิชญ์ จามีกรกุล 5810613454</li>-->
<!--<li>ธนภณ เกิดศิลป์   5710613448</li>-->
<!--<li>ปิยภพ เสือปาน   5910520062</li>-->
<!--<li>ชณิตา ลีลาศุภกร  5910613271</li>-->
<!--</ol>-->
<!--<br>-->
<!--</div>-->
<!--<div style = "font-family: 'Comfortaa', cursive;">-->
<!--    <ul>-->
<!--    <li> <a href ="https://drive.google.com/open?id=1jGFjApcXfG7ixP4KCLGaUF9_0b74fv7V">File PDF</a> </li>-->
<!--    <li> <a href ="https://www.pivotaltracker.com/n/projects/2223051">Link to Pivotal Tracker</a> </li>-->
<!--    <li> <a href ="https://bitbucket.org/5710613448/project-soften/src/master/">Link to Bitbucket Repo</a> </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<iframe width="420" height="315"-->
<!--src="https://youtube.com/embed/junuuKJZcm4">-->
<!--</iframe> -->
<!--<div style = "font-family: 'Comfortaa', cursive;">-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->