<link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Kanit|Permanent+Marker" rel="stylesheet">
<style>
 
  #h1st{
    text-align: center ;
    font-family: 'Permanent Marker',  cursive;
    font-size: 200%;
  }
  #other{
    font-family: 'Comfortaa', cursive;
  }
</style>
<div class="container-fluid">
    <div class="row align-items-end" style="background-color:#ffccff;"> <br> </div>
    <div class="row align-items-end" style="background-color:#ffccff;">
        <div class="col-2"></div>
        <div class="col-8" id ="h1st"><h1>Welcome to CalCal</h1></div>
        <div class="col-2" id = "other"><%= link_to "Register", register_path %></div>

        <div class="col-2" id = "other"><%= link_to "About", about_path %></div>
    </div>
    <div class="row align-items-end" style="background-color:#ffccff;"> <br> </div>
    <div class="row" style=" background-color:#ccccff;">
        <div class="col-2"></div>
        <div class="col-8" style="align: center">
            <br>
            <form role="form"> 
              <div class="form-group">
                <label for="username" id = "other">Username</label>
                <input type="text" id="username" name="username" class="form-control" />
              </div>
              <div class="form-group">
                <label for="password" id = "other">Password</label>
                <input type="password" id="password" name="password" class="form-control" />
              </div>
              <input id = "other" type="submit" value="Login" />
              <input id = "other" type="button" value="Cancel" />
            </form>
            <br>
        </div>
        <div class="col-2"></div> 
    </div>
</div>