<div class="row" style="background-color:#b8e0e3;">
    <div class="col-4"></div>
    <div style="font-family: 'Mali', cursive;">
        <h1>Mycal</h1>
        <br>
        <% @results.each do |res| %>
            <% @inge.each do |ing| %>
                <% if res.ingredient_id === ing.id %>
                    <tr>
                        <td><%= ing.ingredient_name  %></td>
                        <td>น้ำหนัก <%= ing.weight %> กรัม</td>
                        <td>แคลลอรี่ <%= ing.calorie  %> แคลลอรี่<td>
                        <td><%= button_to 'Delete', mycal_path ,class: 'btn btn-outline-danger btn-sm', params: {id: res.id} , method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <td><br></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        
        <% if @results.empty? %>
            <strong>Don't have any ingredient.</strong>
            <a class="nav-link"><%= link_to "Find Some!", search_path %></a>
        <% else %>
            <tr>
                <td><strong>Total Weight: <%= @total_weight %></strong></td>
                <td><strong>Total Calorie: <%= @total_calorie %></strong></td>
                <td><%= button_to 'Delete All', mycal_path, class: 'btn btn-danger btn-block' , method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        <br>
    </div>
</div>