<!DOCTYPE html>
<html >
  <head>
    <title>Calcal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!--link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet" --> 
<link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Kanit|Permanent+Marker|Mali|Prompt" rel="stylesheet">
  <body>
  <style>
  .img-logo {
     width="13px"; height="7px";
    }
   .text-center .navbar{
     font-family: 'Prompt', sans-serif;
   }
  </style
  //= require_tree .
  <!--HEADER-->
    
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fae39c;">
  <!--<nav class="navbar navbar-expand-lg " style="background-image: url("/assets/conan.jpg");">-->
  <a class="navbar-brand"> <%= image_tag (asset_path("logo.png")),:size => "221x38"%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pad-right" id="other">
        <div class="nav-item pad-right">
          <a class="nav-link" ><%= link_to "Home", login_path %></a>
        </div>
        <% if logged_in? %>
        <li class="nav-item pad-right">
          <a class="nav-link"><%= link_to "Search", search_path %></a>
        </li>
          <% if current_user.admin? %>
            <li class="nav-item pad-right">
              <a class="nav-link "><%= link_to 'Ingredient ( For Admin )', index_ingredient_path %></a>
            </li>
            <li class="nav-item pad-right">
              <a class="nav-link "><%= link_to 'My Cal', mycal_index_path %></a>
            </li>
          <% else %>
            <li class="nav-item pad-right">
              <a class="nav-link "><%= link_to 'My Cal', mycal_index_path %></a>
            </li>
          <% end %>
        <li class="nav-item pad-right">
          <a class="nav-link" ><%= link_to "Profile", current_user %></a>
        </li>
        <li class="nav-item pad-right">
          <a class="nav-link"><%= link_to "About", about_path %></a>
        </li>
        <li class="nav-item pad-right">
          <a class="nav-link " ><%= link_to "Log out", logout_path, method: :delete %></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "About", about_path %></a>
        </li>
      <% end %>
      
      <!--<li class="nav-item active">-->
      <!--  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--  <a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
    
    <!--END HEADER-->
    <%= yield %>
    
    <!--**********************FOOTER****************************-->
    
    <!-- <div class="containner-fluid"style="margin-top:40px;padding-top:80px; padding-bottom:80px; font-family: -->
    <!--                             'Mali', cursive; font-size: 20px;-->
    <!--                             color:#FFFFFF;-->
    <!--                             background-color: #691616; ">-->
    <!--     <div class="row"  >-->
    <!--        <div class="col-2"></div>-->
    <!--        <div class="col-8 text-center " >-->
    <!--        </div>-->


    <!--        <div class="col-2"></div>-->
    <!--    </div>-->
    <!--</div>-->
    
    
    		<footer class="footer-basic-centered">

			<p class="footer-company-motto"style="font-family: 'Prompt', sans-serif;"><i>"ความลับของการสร้างสรรค์ คือการรู้วิธีซ่อนที่มาของความคิดนั้นไว้อย่างแนบเนียน"</i></p>
        <p class="text-center footer-company-motto" style="font-family: 'Prompt', sans-serif; padding-left:25em;"><b> อัลเบิร์ต ไอน์สไตน์</b></p>
			<p class="footer-links">
				<a href="#">Home</a>
				·
				<a href="#">Blog</a>
				·
				<a href="#">Pricing</a>
				·
				<a ><%= link_to "About", about_path %></a>
				·
				<a href="#">Faq</a>
				·
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">CalCal Limited Coporation &copy; 1997 - 2018</p>

		</footer>
    <!--***************************END FOOTER*****************************-->
  </body>
</html>
